<div
  id="game-over"
  class="absolute top-0 left-0 w-full h-full hidden flex-col gap-8 items-center justify-center bg-gray-900 opacity-90 text-white"
>
  <span class="game-over-message">GAME OVER</span>
  <div class="score">
    <span>Highest Score</span>
    <span id="highest-score"></span>
  </div>
  <div class="score">
    <span>Your Score</span>
    <span class="score-value">0</span>
  </div>
  <button id="play-again" class="settings-btn text-red-500">Play Again</button>

  <button id="go-to-start" class="settings-btn text-red-500">
    Go to Main Screen
  </button>
</div>
