<div
  class="absolute top-0 left-0 w-full h-full flex flex-col gap-8 items-center justify-center bg-gray-900 opacity-90 text-white"
>
  <!-- <div class="flex items-center relative">
    <div id="relaxed-mode-svg" class="mode-svg" data-mode="relaxed">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="currentColor"
        class="size-6"
      >
        <path
          fill-rule="evenodd"
          d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25Zm4.28 10.28a.75.75 0 0 0 0-1.06l-3-3a.75.75 0 1 0-1.06 1.06l1.72 1.72H8.25a.75.75 0 0 0 0 1.5h5.69l-1.72 1.72a.75.75 0 1 0 1.06 1.06l3-3Z"
          clip-rule="evenodd"
        />
      </svg>
    </div>
    <div id="relaxed" class="play-mode">Relaxed Mode</div>
  </div> -->

  <!-- <div class="flex items-center relative">
    <div id="time-limit-svg" class="mode-svg" data-mode="time-limit">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="currentColor"
        class="size-6"
      >
        <path
          fill-rule="evenodd"
          d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25Zm4.28 10.28a.75.75 0 0 0 0-1.06l-3-3a.75.75 0 1 0-1.06 1.06l1.72 1.72H8.25a.75.75 0 0 0 0 1.5h5.69l-1.72 1.72a.75.75 0 1 0 1.06 1.06l3-3Z"
          clip-rule="evenodd"
        />
      </svg>
    </div>
    <div id="time-limit" class="play-mode">Time Limit</div>
  </div> -->
  <button id="start-game" class="settings-btn text-red-500">Start</button>
</div>
