@import "tailwindcss";

@theme {
  --font-logo: "Freckle Face", cursive;
}

@layer utilities {
  @keyframes pulse-scale {
    0%,
    100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
  }
  @keyframes gradientAnimation {
    0% {
      background: linear-gradient(45deg, #a8e6ff, #ffdb89);
    }
    50% {
      background: linear-gradient(45deg, #ffafbd, #ffc3a0);
    }
    100% {
      background: linear-gradient(45deg, #a8e6ff, #ffdb89);
    }
  }
  @keyframes float-left-to-right {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100vw);
    }
  }
  @keyframes float-up {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(-100vh);
      opacity: 0; /* Fade out as the bubble floats up
*/
    }
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .animate-fade-in {
    animation: fade-in 1s ease-in-out;
  }

  .bubble-float {
    animation: float-up 5s linear infinite;
  }
  .animate-float {
    animation: float-left-to-right 10s linear infinite;
  }
  .animate-pulse-scale {
    animation: pulse-scale 3.5s infinite ease-in-out;
  }
  .bubble {
    animation: float 8s infinite ease-in-out;
  }
}

@layer components {
  .logo {
    @apply font-logo text-blue-900;
    @apply bg-gradient-to-r from-blue-500 via-purple-500 to-pink-500;
    @apply text-transparent bg-clip-text;
    @apply transition-transform duration-300 ease-in-out;
    @apply hover:scale-110;

    /* Add 3D effect with text shadows */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), 2px 2px 4px rgba(0, 0, 0, 0.1),
      3px 3px 6px rgba(0, 0, 0, 0.1), 4px 4px 8px rgba(0, 0, 0, 0.1);
  }

  .icon {
    @apply w-6 h-6 text-black cursor-pointer;
  }

  .btn {
    @apply px-4 py-2 cursor-pointer;
  }

  .action-btn {
    @apply font-logo text-yellow-700 text-lg lg:text-xl hover:underline hover:underline-offset-8 ease-in-out;
  }

  .game-over-message {
    @apply font-logo text-5xl md:text-6xl text-red-500;
  }

  .settings-btn {
    @apply bg-yellow-400 text-white py-2 px-4 rounded-lg border-4 border-amber-500 hover:bg-yellow-500 hover:border-amber-600 transform hover:scale-105 transition duration-300 ease-in-out font-logo text-xl tracking-wide cursor-pointer;
  }

  .play-mode {
    @apply font-logo tracking-wide text-2xl text-white hover:underline hover:underline-offset-8 cursor-pointer justify-self-end;
  }

  .mode-svg {
    @apply hidden absolute -left-10 md:-left-12 lg:-left-16;
  }

  .mode-svg.selected {
    @apply block;
  }

  .score {
    @apply text-xl text-amber-800 font-mono font-semibold;
  }

  .screen {
    @apply absolute top-0 left-0 w-full h-full;
  }
}
